@model Loyalty.Web.ViewModels.TransactionViewModel



<tr>
    <td>@Model.ReceiptNumber</td>
    <td>@Model.Amount</td>
    <td>@Model.SavedAmount</td>
    <td>@Model.DateTime</td>
    <td>@Model.Shop.Name</td>
</tr>




