@model PagedList.PagedList<Twitter.Models.TweetViewModel>

@using PagedList.Mvc


@foreach (var item in Model)
{
    @Html.Partial("_CreateTweetpartial");
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@item.User</h3>
        </div>
        <div class="panel-body">
            @item.Text
        </div>
        <span>
            <a href="#" class="glyphicon glyphicon-share-alt" title="Retweet"></a>
            <a href="#" class="glyphicon glyphicon-ban-circle" title="Report"></a>
            <a href="#" class="glyphicon glyphicon-heart-empty" title="Favorite"></a>
            <a href="#" class="glyphicon glyphicon-share" title="Share"></a>
        </span>
        <p>Posted on: @item.Date</p>
    </div>
}

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
